# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'package'

- task: Bash@3
  inputs:
    filePath: 'echo "y" | $ANDROID_HOME/tools/bin/sdkmanager --install ''system-images;android-29;google_apis;x86'' echo "AVD system-image successfully downloaded and installed."'
- task: Bash@3
  inputs:
    filePath: 'echo "no" | $ANDROID_HOME/tools/bin/avdmanager create avd -n android_emulator -k ''system-images;android-29;google_apis;x86'' -d 19 --force echo "Emulator created successfully $(ANDROID_HOME/emulator/emulator -list-avds), launching it" nohup $ANDROID_HOME/emulator/emulator -avd android_emulator -prop persist.sys.language=pt-BR -skin 1080x1920 -no-snapshot -no-audio -no-boot-anim -accel auto -gpu auto -qemu -lcd-density 420 > /dev/null 2>&1 & $ANDROID_HOME/platform-tools/adb wait-for-device shell ''while [[ -z $(getprop sys.boot_completed | tr -d ''\r'') ]]; do sleep 1; done'' adb root adb shell ''setprop persist.sys.language pt-BR;setprop persist.sys.country BR;stop;sleep 5;start'' $ANDROID_HOME/platform-tools/adb devices $ANDROID_HOME/tools/bin/avdmanager list device'
    
- task: Npm@1
  inputs:
    command: 'install'
    workingDir: 'npm install -g appium'

- task: Npm@1
  inputs:
    command: 'install'
    workingDir: 'appium'

- task: Bash@3
  inputs:
    filePath: 'mvn test'