# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:

- task: AppCenterTest@1
  inputs:
    artifactsDirectory: '$(Build.ArtifactStagingDirectory)/AppCenterTest'
    frameworkOption: 'appium'
    credentialsOption: 'serviceEndpoint'
    devices: 'Nexus 6 API 29'
    localeOption: 'en_US'
- task: Bash@3
  inputs:
    filePath: 'mvn test'