# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- main

pool:
  vmImage: 'macOS-latest'

steps:

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      echo "y" | $ANDROID_HOME/tools/bin/sdkmanager --install 'system-images;android-28;google_apis;x86' 
          echo "AVD system-image successfully downloaded and installed." 
        displayName: 'Download and install emulator image' 
        condition: ne(variables.AVD_IMAGES_RESTORED, 'true')
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'npm i npm'
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'npm i -g appium'
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'appium root-dir "./" 2>&1 &'