# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- main

pool:
  vmImage: 'windows-latest'

steps:

- task: NodeTool@0
  inputs:
    versionSpec: '6.x'
- task: Npm@1
  inputs:
    command: 'install'
    workingDir: 'npm install -g appium'

- task: Npm@1
  inputs:
    command: 'install'
    workingDir: 'appium'

- task: Bash@3
  inputs:
    filePath: 'mvn test'